
/*
    GESTURE KIT Specific overwrite
*/

#visor_container {
    display: none;
}

body > * {
    display: table;
}


/*
    SIMON GAME app
*/

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    margin: 0;
}

.gesture-viewport {
    display: table-cell;
}

.gesture-viewport {
    height: 100%;
    width: 100%;
}

.viewport .gesture-placeholder {

}

[class*="gesture-type"] {
    display: block;
    float: left;
    height: 50%;
    position: relative;
    width: 50%;
}

[class*="gesture-type"]:after {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

.gesture-type-red {
    background-color: #e74c3c;
}

.gesture-type-red:after {
    background-image: url('../assets/gk_red.svg');
}

.gesture-type-blue {
    background-color: #3498db;
}

.gesture-type-blue:after {
    background-image: url('../assets/gk_blue.svg');
}

.gesture-type-yellow {
    background-color: #f1c40f;
}

.gesture-type-yellow:after {
    background-image: url('../assets/gk_yellow.svg');
}

.gesture-type-green {
    background-color: #2ecc71;
}

.gesture-type-green:after {
    background-image: url('../assets/gk_green.svg');
}